body {
  background: url('../assets/images/pokedextown.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

/*.information {
  margin-top: 20%;
  margin-left: 60%;
}*/

.container {
  /*size: 100%;*/
  display: table;
  /*position: relative;*/
}
/*.col-md-5 {
  margin-top: 25%;
  margin-right: 55%;
}

.col-md-7 {
  margin-top: 22%;
  margin-left: 58%;
  margin-right: %;
}*/

.column1 {
  display: table-cell;
  background-repeat: no-repeat;
  width: 396px;
  /*overflow: visible;*/
}

.column2 {
  display: table-cell;
  background-repeat: no-repeat;
  width: 50%;
}

.map {
  background-color: white;
  word-wrap: break-word;
  margin-top: 50%;
  margin-right: 8%;
  margin-left: 5%;
  border-style: solid;
  border-width: 5px;
  line-height: 20px;
}

.information {
  background-color: green;
  word-wrap: break-word;
  margin-left: 15%;
  margin-right: 10%;
}

/*@media {
  .container {
    height: 700px;
  }
}*/
