body {
  background: url('../assets/images/pokedextown.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

/*.pokedex {
  background: url('../assets/images/pokedextown.png');
  background-repeat: no-repeat;
  background-size: 100%;
}*/

.information {
  background: black;
  margin-left: 50px;
  margin-top: 45%;
  color: green;
  width: 380px;
  height: 400px;
  border-radius: 2%;
  color: #74EE35;
  font-family: Orbitron;
	text-shadow: 0 0 0px #74EE35, 0 0 2px #74EE35,
		     0 0 2px #74EE35, 0 0 2px #74EE35,
		     0 0 2px #74EE35;
  overflow: scroll;
}

.google-info-window {
  background: black;
  font-family: Orbitron;
  background: url('../assets/images/pokeball.png');
  background-repeat: no-repeat;
  color: #A651CB;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.gm-style {
  background: black;
}

ul {
   list-style-type: none;
}

a.link {
  text-decoration: none;
  color: #6DAF4B;
}

.map-canvas {
  width: 400px;
  height: 340px;
  margin-top: 45%;
}

h2 {
  text-align: center;
}

.pokemon {
  background: black;
  width: 400px;
  height: 400px;
  position: relative;
  z-index: 10;
}

.player {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar {
  border-radius: 5%;
}
