<h1>Pokemon Map Demo</h1>

{{
  google-map
    markerInfoWindowTemplateName='map/info-window'
    markers=model
    lat=centerLat
    lng=centerLng
    zoom=17
    type='map'
    gopt_zoomControl=false
    gopt_scrollwheel=false
    gopt_maxZoom=17
    gopt_minZoom=17
}}
