<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>{{#link-to 'pokedex'}}Pokedex{{/link-to}}</li>
  </ul>
</nav>
<h1>Pokemon Map Demo</h1>
<button {{action 'newGame'}}>new game</button>
{{
  google-map
    markerInfoWindowTemplateName='info-window'
    markerController='map/marker'
    markers=model
    lat=centerLat
    lng=centerLng
    zoom=18
    type='map'
    gopt_zoomControl=false
    gopt_scrollwheel=true
    gopt_maxZoom=18
    gopt_minZoom=18
}}

{{outlet}}
