<h1>Welcome to Google Map demo!</h1>
{{
  google-map
    markerInfoWindowTemplateName='map/info-window'
    markers=model
    lat=centerLat
    lng=centerLng
    zoom=17
    gopt_zoomControl=false
    type='map'
}}
