
<div class='pokedex'>
  <div class='row'>
    <div class='container'>
      <div class='col-md-6'>
        <div class="map-canvas">
          {{
            google-map
              markerInfoWindowTemplateName='map/info-window'
              markers=model
              lat=centerLat
              lng=centerLng
              zoom=17
              type='map'
              gopt_zoomControl=false
              gopt_scrollwheel=true
              gopt_maxZoom=17
              gopt_minZoom=17
          }}
        </div>
      </div>
      <div class='col-md-6'>
        <div class="information">
          <h2>Poke-dex</h2>
          <ul>
            {{#each pokemon in model}}
              <li>{{#link-to 'pokemon' pokemon.national_id}}{{pokemon.name}}{{/link-to}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
